{% extends "vorlagen/main.html" %}
<title>{% block title %}Vortrag bewerten{% endblock %}</title>

{% block content %}
<h1>Ihre Bewertung für den Vortrag</h1>
<form action="{{ url_for('vortrag_bewerten_verabeiten', record_id=rec_id) }}" method="post">

    <div>
        <legend>Foliengestaltung</legend>
        <input value="1" type="radio" id="folien" name="folien" required>
        <label for="folien">--</label>
        
        <input value="2" type="radio" id="folien" name="folien">
        <label for="folien">-</label>

        <input value="3" type="radio" id="folien" name="folien">
        <label for="folien">0</label>

        <input value="4" type="radio" id="folien" name="folien">
        <label for="folien">+</label>

        <input value="5" type="radio" id="folien" name="folien">
        <label for="folien">++</label>
    </div>
    <br>
    <div>
        <legend>Sprachliche Präsentation</legend>
        <input value="1" type="radio" id="sprachlich" name="sprachlich" required>
        <label for="sprachlich">--</label>
        
        <input value="2" type="radio" id="sprachlich" name="sprachlich">
        <label for="sprachlich">-</label>
        
        <input value="2" type="radio" id="sprachlich" name="sprachlich">
        <label for="sprachlich">0</label>
        
        <input value="3" type="radio" id="sprachlich" name="sprachlich">
        <label for="sprachlich">+</label>
        
        <input value="4" type="radio" id="sprachlich" name="sprachlich">
        <label for="sprachlich">++</label>
    </div>
    <br>
    <div>
        <legend>Präsentationsstil</legend>
        <input value="1" type="radio" id="praesentation" name="praesentation" required>
        <label for="praesentation">--</label>
    
        <input value="2" type="radio" id="praesentation" name="praesentation">
        <label for="praesentation">-</label>
    
        <input value="3" type="radio" id="praesentation" name="praesentation">
        <label for="praesentation">0</label>
    
        <input value="4" type="radio" id="praesentation" name="praesentation">
        <label for="praesentation">+</label>
    
        <input value="5" type="radio" id="praesentation" name="praesentation">
        <label for="praesentation">++</label>
    </div>
    <br>
    <div>
        <legend>Zeitliche Gestaltung</legend>
        <input value="1" type="radio" id="zeitlich" name="zeitlich" required>
        <label for="zeitlich">--</label>
    
        <input value="2" type="radio" id="zeitlich" name="zeitlich">
        <label for="zeitlich">-</label>
    
        <input value="3" type="radio" id="zeitlich" name="zeitlich">
        <label for="zeitlich">0</label>
    
        <input value="4" type="radio" id="zeitlich" name="zeitlich">
        <label for="zeitlich">+</label>
    
        <input value="5" type="radio" id="zeitlich" name="zeitlich">
        <label for="zeitlich">++</label>
    </div>
    <br>
    <div>
        <legend>Verständnis</legend>
        <input value="1" type="radio" id="verstaendnis" name="verstaendnis" required >
        <label for="verstaendnis">--</label>
    
        <input value="2" type="radio" id="verstaendnis" name="verstaendnis">
        <label for="verstaendnis">-</label>
    
        <input value="3" type="radio" id="verstaendnis" name="verstaendnis">
        <label for="verstaendnis">0</label>
    
        <input value="4" type="radio" id="verstaendnis" name="verstaendnis">
        <label for="verstaendnis">+</label>
    
        <input value="5" type="radio" id="verstaendnis" name="verstaendnis">
        <label for="verstaendnis">++</label>
    </div>
    <br>
    <div>
        <legend>Inhaltliche Aufbereitung</legend>
        <input value="1" type="radio" id="inhaltlich" name="inhaltlich" required>
        <label for="inhaltlich">--</label>
    
        <input value="2" type="radio" id="inhaltlich" name="inhaltlich">
        <label for="inhaltlich">-</label>
    
        <input value="3" type="radio" id="inhaltlich" name="inhaltlich">
        <label for="inhaltlich">0</label>
    
        <input value="4" type="radio" id="inhaltlich" name="inhaltlich">
        <label for="inhaltlich">+</label>
    
        <input value="5" type="radio" id="inhaltlich" name="inhaltlich">
        <label for="inhaltlich">++</label>
    </div>
    <br>
    <div>
        <legend>Verknüpfung mit anderen Vorträgen</legend>
        <input value="1" type="radio" id="verknuepfung" name="verknuepfung" required>
        <label for="verknuepfung">--</label>
    
        <input value="2" type="radio" id="verknuepfung" name="verknuepfung">
        <label for="verknuepfung">-</label>
    
        <input value="3" type="radio" id="verknuepfung" name="verknuepfung">
        <label for="verknuepfung">0</label>
    
        <input value="4" type="radio" id="verknuepfung" name="verknuepfung">
        <label for="verknuepfung">+</label>
    
        <input value="5" type="radio" id="verknuepfung" name="verknuepfung">
        <label for="verknuepfung">++</label>
    </div>
    <br>
    <div>
        <legend>Diskussionsführung (eigener Vortrag)</legend>
        <input value="1" type="radio" id="diskussion" name="diskussion" required>
        <label for="diskussion">--</label>
    
        <input value="2" type="radio" id="diskussion" name="diskussion">
        <label for="diskussion">-</label>
    
        <input value="3" type="radio" id="diskussion" name="diskussion">
        <label for="diskussion">0</label>
    
        <input value="4" type="radio" id="diskussion" name="diskussion">
        <label for="diskussion">+</label>
    
        <input value="5" type="radio" id="diskussion" name="diskussion">
        <label for="diskussion">++</label>
    </div>
    <br>
    <div>
        <legend>Beteiligung an Diskussionen (andere Vorträge)</legend>
        <input value="1" type="radio" id="beteiligung" name="beteiligung" required>
        <label for="beteiligung">--</label>
    
        <input value="2" type="radio" id="beteiligung" name="beteiligung">
        <label for="beteiligung">-</label>
    
        <input value="3" type="radio" id="beteiligung" name="beteiligung">
        <label for="beteiligung">0</label>
    
        <input value="4" type="radio" id="beteiligung" name="beteiligung">
        <label for="beteiligung">+</label>
    
        <input value="5" type="radio" id="beteiligung" name="beteiligung">
        <label for="beteiligung">++</label>
    </div>
    <br>
    <div>
        <legend>Kommentar</legend>
        <label for="kommentar"></label>
        <textarea id="kommentar" name="kommentar" maxlength="255" rows="4" cols="50"></textarea> <!--TINYTEXT-->
    </div>

    <br><input class="btn btn-primary" type="submit" />
</form>
{% endblock %}