{% extends "vorlagen/main.html" %}
<title>{% block title %}Student bewerten{% endblock %}</title>

{% block content %}
<h1>Benotung des Studenten</h1>
<form action=" {{ url_for('student_benoten_verarbeiten', record_id=record_id) }}" method="post">

    <div>
        <legend>Note:</legend>
        <input value="1" type="radio" id="note" name="note">
        <label for="note">1 (bestanden)</label>

        <input value="2" type="radio" id="note" name="note">
        <label for="note">2 (bestanden)</label>

        <input value="3" type="radio" id="note" name="note">
        <label for="note">3 (bestanden)</label>

        <input value="4" type="radio" id="note" name="note">
        <label for="note">4 (bestanden)</label>

        <input value="5" type="radio" id="note" name="note">
        <label for="note">5 (nicht bestanden)</label>
    </div>
    <br>
     <div>
        <legend>Kommentar</legend>
        <label for="kommentar"></label>
        <textarea id="kommentar" name="kommentar" maxlength="255" rows="4" cols="50"></textarea> <!--TINYTEXT-->
    </div>

    <br><input class="btn btn-primary" type="submit" />
</form>
{% endblock %}